{
	"arrowParens": "always",
	"bracketSpacing": true,
	"endOfLine": "crlf",
	"htmlWhitespaceSensitivity": "css",
	"insertPragma": false,
	"singleAttributePerLine": true,
	"bracketSameLine": false,
	"jsxBracketSameLine": false,
	"jsxSingleQuote": true,
	"printWidth": 800,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"requirePragma": false,
	"semi": false,
	"singleQuote": true,
	"tabWidth": 4,
	"trailingComma": "es5",
	"useTabs": true,
	"embeddedLanguageFormatting": "auto",
	"vueIndentScriptAndStyle": false,
	"filepath": "d:\\Website\\PJKT\\pjkm-website\\src\\views\\Public\\Events\\PJKTEvent.tsx",
	"parser": "typescript"
}